<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title><b>{{ 'contact.requests.title' | translate }}</b></ion-title>
    <ion-buttons start>
      <button ion-button tappable (click)="navCtrl.pop()"><ion-icon name="icon-close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list [virtualScroll]="received" [headerFn]="header" approxItemHeight="60px">
    <ion-item-divider *virtualHeader="let header"><b>{{ 'contact.requests.received' | translate }}</b></ion-item-divider>
    <ion-item no-lines *virtualItem="let user" tappable (click)="viewProfile(user.userId)">
      <ion-avatar item-start>
        <img-loader [src]="user?.photo"></img-loader>
      </ion-avatar>
      <h2 text-uppercase>{{ user?.firstName }} {{ user?.lastName }}</h2>
      <p text-lowercase>{{ 'contact.request.received' | translate }}</p>
      <button ion-button item-end color="dark" (click)="rejectRequest(user.userId); $event.stopPropagation();" [disabled]="!network.online()"><ion-icon name="icon-close"></ion-icon></button>
      <button ion-button item-end (click)="acceptRequest(user); $event.stopPropagation();" [disabled]="!network.online()"><ion-icon name="icon-check"></ion-icon></button>
    </ion-item>
  </ion-list>
  <ion-list [virtualScroll]="sent" [headerFn]="header" approxItemHeight="60px">
    <ion-item-divider *virtualHeader="let header"><b>{{ 'contact.requests.sent' | translate }}</b></ion-item-divider>
    <ion-item no-lines *virtualItem="let user" tappable (click)="viewProfile(user.userId)">
      <ion-avatar item-start>
        <img-loader [src]="user?.photo"></img-loader>
      </ion-avatar>
      <h2 text-uppercase>{{ user?.firstName }} {{ user?.lastName }}</h2>
      <p text-lowercase>{{ 'contact.request.sent' | translate }}</p>
      <button ion-button item-end color="dark" (click)="cancelRequest(user.userId); $event.stopPropagation();" [disabled]="!network.online()"><ion-icon name="icon-close"></ion-icon></button>
    </ion-item>
  </ion-list>
</ion-content>
