<ion-content class="no-scroll">
  <div class="logo" text-center>
    <img src="assets/images/logo.png" tappable (click)="navCtrl.setRoot('IntroPage')"/>
  </div>
  <div class="form">
    <form [formGroup]="loginForm" (keydown)="keyDownFunction($event)">
      <ion-list>
        <ion-item no-lines margin-bottom>
          <ion-input type="email" formControlName="email" [placeholder]="translate.get('auth.form.email')"></ion-input>
        </ion-item>
        <p text-center *ngIf="(loginForm.controls.email.hasError('required') || !loginForm.controls.email.valid) && hasError">{{ 'auth.form.error.email' | translate }}</p>
        <ion-item no-lines margin-bottom>
          <ion-input type="password" formControlName="password" [placeholder]="translate.get('auth.form.password')"></ion-input>
        </ion-item>
        <p text-center *ngIf="(loginForm.controls.password.hasError('required') || !loginForm.controls.password.valid) && hasError">{{ 'auth.form.error.password' | translate }}</p>
        <div text-center>
          <button ion-button color="primary" (click)="login()" [disabled]="!network.online()"><b>{{ 'auth.button.login' | translate }}</b></button>
          <p>{{ 'auth.login.text' | translate }}</p>
          <button ion-button color="dark" (click)="loginWithFacebook()" [disabled]="!network.online()"><ion-icon name="icon-facebook"></ion-icon><b>{{ 'auth.button.facebook' | translate }}</b></button>
          <button ion-button color="dark" (click)="loginWithGoogle()" [disabled]="!network.online()"><ion-icon name="icon-google"></ion-icon><b>{{ 'auth.button.google' | translate }}</b></button>
          <!-- <button ion-button color="dark" (click)="loginWithTwitter()" [disabled]="!network.online()"><ion-icon name="icon-twitter"></ion-icon><b>{{ 'auth.button.twitter' | translate }}</b></button> -->
          <p>{{ 'auth.login.question' | translate }}<span (click)="navCtrl.setRoot('RegisterPage')">{{ 'auth.login.question.button' | translate }}</span></p>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>
