<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title><b>{{ 'group.add.member.title' | translate }}</b></ion-title>
    <ion-buttons start>
      <button ion-button tappable (click)="navCtrl.pop()"><ion-icon name="icon-close"></ion-icon></button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button tappable (click)="done()" *ngIf="toAdd && toAdd.length > 0" [disabled]="!network.online()"><ion-icon name="icon-check"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content [ngClass]="{'android': android}">
  <!-- No contact found with filter -->
  <div text-center class="empty" *ngIf="searchUser && searchUser.length > 0 && (contacts | usersFilter: [excludedIds, searchUser])?.length == 0">
    <ion-icon name="icon-empty-02"></ion-icon>
    <h2><b>{{ 'contact.main.empty.nocontactfound.title' | translate }}</b></h2>
    <p>{{ 'contact.main.empty.nocontactfound.text' | translate }}</p>
  </div>
  <!-- All contacts are already member of the group -->
  <div text-center class="empty" *ngIf="!searchUser && (contacts | usersFilter: [excludedIds, searchUser])?.length == 0">
    <ion-icon name="icon-empty-02"></ion-icon>
    <h2><b>{{ 'group.contacts.member.title' | translate }}</b></h2>
    <p>{{ 'group.contacts.member.text' | translate }}</p>
  </div>
  <ion-searchbar [(ngModel)]="searchUser" [placeholder]="translate.get('home.search')"></ion-searchbar>
  <ion-list [virtualScroll]="contacts | usersFilter: [excludedIds, searchUser]" [headerFn]="header" approxItemHeight="60px">
    <ion-item-divider *virtualHeader="let header"><b>{{ translate.get('home.user') }}</b></ion-item-divider>
    <ion-item no-lines *virtualItem="let contact" tappable (click)="viewProfile(contact.userId)">
      <ion-avatar item-start>
        <img-loader [src]="contact?.photo"></img-loader>
      </ion-avatar>
      <h2 text-uppercase>{{ contact?.firstName }} {{ contact?.lastName }}</h2>
      <p text-lowercase>{{ contact?.username }}</p>
      <button ion-button item-end color="primary" *ngIf="toAdd.indexOf(contact?.userId) == -1" [disabled]="!network.online()" (click)="toggle(contact?.userId); $event.stopPropagation();"><ion-icon name="icon-add"></ion-icon></button>
      <button ion-button item-end color="dark" *ngIf="toAdd.indexOf(contact?.userId) > -1" [disabled]="!network.online()" (click)="toggle(contact?.userId); $event.stopPropagation();"><ion-icon name="icon-close"></ion-icon></button>
    </ion-item>
  </ion-list>
</ion-content>
